@(taskList: List[Task], taskForm: Form[Task])
@import helper._

<html>
    <body>
    @common("レコード追加"){
    	<h2>Add a new task</h2>
		@form(routes.Application.createTask()){
			@inputText(taskForm("name"), '_label -> "タスク名")
        	@inputDate(taskForm("period"), '_label -> "期限")
        	<input type="submit" value="Create" />
        }

    	@for(error <- taskForm("name").errors){
    		<p>@Messages(error.message)</p>
    	}
    	<h1>レコード一覧</h1>
    	@if(taskList.isEmpty()){
        	Taskは一件もありません
        }else{
        	<ul>
        	@for(task <- taskList){
        		<form action="@routes.Application.deleteTask()" method="POST">
        		<li>@task.name</li><br>
        		<input type="button" value="Delete" />
        		</form>
        	}
        	</ul>
        }
    }
    </body>
</html>